:root {
  --primary: #19a5ff;
  --secondary: #fd7e14;
  --danger: #ef233c;
  --warn: #ffc107;
  --success: #36ca71;

  --text-color: #131313;
  --border-color: #f4f4f4;
  --box-shadow-color: #ccc;

  --horizontal-spacing: 30px;

  --font-nunito: 'Nunito', Helvetica, Arial, sans-serif;
}
