:root {
  --primary: #0dcaf0;
  --secondary: #fd7e14;
  --danger: #dc3545;
  --warn: #ffc107;

  --green: #198754;

  --border-color: #f4f4f4;
  --box-shadow-color: #ccc;

  --horizontal-spacing: 30px;
}
