@use 'normalize.css';
@use 'skeleton.css';

@use './variables';
@use './colors';
@use './utilities';

// Components
@use 'components/eventItem';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
input[type='button'] {
  margin-bottom: 0;
}

h2 {
  font-size: 2rem;

  @media all and (min-width: 600px) {
    font-size: 3.6rem;
  }
}

p {
  display: block;
}

hr {
  margin: 1rem 0;
}

// Buttons
button,
input[type='button'] {
  color: white;

  &:hover,
  &:focus {
    color: white;
  }

  &:disabled {
    opacity: 0.5;
  }
}

// Layout
header {
  margin-bottom: 1rem;
  padding: 1rem 30px;
  width: 100%;
  box-shadow: 1px 1px 10px 1px var(--box-shadow-color);
}

.header__auth-status {
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header__photo {
  width: 20px;
  height: 20px;
  object-fit: contain;
  border-radius: 50%;
}

.card {
  position: relative;
  margin-top: 2rem;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  box-shadow: 1px 1px 10px 1px var(--box-shadow-color);
}

// Grid
.two-col {
  grid-template-columns: repeat(2, 1fr);
}

.three-col {
  grid-template-columns: repeat(3, 1fr);
}

// Events
.events {
  margin: 40px 0;
}

.events__header {
  align-items: center;

  > * {
    width: 50%;
  }
}

.events__upcoming {
  margin-bottom: 40px;
}

.event-form__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.form__wrapper {
  flex: 0 0 49%;

  input {
    width: 100%;
  }
}

.form__wrapper-description {
  flex: 0 0 100%;

  textarea {
    width: 49%;
    resize: none;
    height: 10rem;
  }
}

.event-form__actions {
  flex: 0 0 100%;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.events__older-header {
  margin-top: 40px;
}

.events__older {
  opacity: 0.75;
}

.event__comment-input {
  width: 100%;
  max-width: 400px;
  margin-right: 10px;
}

.events__header-add-new a {
  text-decoration: none;
  font-size: 2rem;
}
