.event-item__header {
  padding: 20px;

  p {
    margin-bottom: 0;
  }
}

.event-item__header-info {
  width: calc(100% - 120px);
}

.event-item__date-container {
  border-radius: 5px;
  padding: 10px 10px;
  text-align: center;
  color: white;
  width: 102px;
  height: 120px;
  margin-left: 30px;

  .event-item__date-dayname {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
  }

  .event-item__date-day {
    display: block;
    font-size: 32px;
    line-height: 38px;
  }

  .event-item__date-month {
    text-transform: uppercase;
    display: block;
    font-size: 24px;
    line-height: 22px;
    letter-spacing: 1px;
  }

  .event-item__date-time {
    display: block;
    padding-top: 2px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.event-item__content {
  padding: 0 20%;
  margin-bottom: 20px;
}

.event-item__content-response-icon {
  margin-right: 15px;
}

.event-item__description {
  font-size: 14px;
  margin-bottom: 10px;
}

.event__actions {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 0 20px;

  button:not(.event-item__delete-button) {
    width: 49%;
    max-width: 300px;
  }
}
